.overlay {
  opacity: 0;

  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  transition: all .25s ease;
  background: rgba(13, 6, 45, .6);

  &.open {
    opacity: 1;
    z-index: 99;
  }
}

.container {
  overflow-y: scroll;

  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 268px;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  transition: all .3s ease;

  transform: translateY(-100vh);
}

.box {
  max-width: 90%;
  width: 930px;

  background: #FFFFFF;
  border-radius: 20px;

  transition: all .3s ease;
  transform: translateY(-100vh);
}

.open {
  transform: translateY(0);

  .box {
    transform: translateY(0);
  }
}