.header {
  display: flex;
  align-items: center;
  min-height: 88px;
  padding: 24px;
  margin-bottom: 24px;

  border-bottom: 1px solid #E0E2E7;
}

.title {
  margin: 0;

  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #2C2D2E;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 26px;
  padding-bottom: 32px;
}

.item {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin-right: 11px;
  width: 208px;

  background: #E0E2E7;
  border: 1px solid #E0E2E7;
  border-radius: 8px;

  &:last-of-type {
    margin-right: auto;
  }
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.itemName {
  margin: 0;
  min-height: 40px;
  display: flex;
  padding: 10px 12px;

  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #2C2D2E;

  background-color: #FFFFFF;
}