.button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  background: transparent;
  border: none;

  cursor: pointer;
  opacity: .5;

  &:hover {
    opacity: 1;
  }
}

.icon {
  fill: #2C2D2E;
}