.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  padding: 0 32px;

  background-color: #FFFFFF;
  border-bottom: 1px solid #F3F3F5;
}

.title {
  margin: 0;

  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #2C2D2E;
}